In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [0]:
spark

In [0]:
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]

spark_df = spark.createDataFrame(data,schema=columns)

spark_df.show()

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [0]:
spark_df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df_pd=spark_df.toPandas()
df_pd

,first_name,middle_name,last_name,dob,gender,salary
0,James,,Smith,36636,M,60000
1,Michael,Rose,,40288,M,70000
2,Robert,,Williams,42114,,400000
3,Maria,Anne,Jones,39192,F,500000
4,Jen,Mary,Brown,,F,0

In [0]:
sspark_df=spark.createDataFrame(df_pd)
sspark_df.show()

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [0]:
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
columns = ["Seqno","Quote"]
df = spark.createDataFrame(data,columns)
df.show()

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

In [0]:
df.show(truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

In [0]:
df.show(2, truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
+-----+-----------------------------------------------------------------------------+
only showing top 2 rows

In [0]:
df.show(vertical=True)

-RECORD 0---------------------
 Seqno | 1
 Quote | Be the change tha...
-RECORD 1---------------------
 Seqno | 2
 Quote | Everyone thinks o...
-RECORD 2---------------------
 Seqno | 3
 Quote | The purpose of ou...
-RECORD 3---------------------
 Seqno | 4
 Quote | Be cool.

In [0]:
from pyspark.sql.functions import col
df.select(col('Seqno')).show()

df.collect()

+-----+
|Seqno|
+-----+
|    1|
|    2|
|    3|
|    4|
+-----+

Out[27]: [Row(Seqno='1', Quote='Be the change that you wish to see in the world'),
 Row(Seqno='2', Quote='Everyone thinks of changing the world, but no one thinks of changing himself.'),
 Row(Seqno='3', Quote='The purpose of our lives is to be happy.'),
 Row(Seqno='4', Quote='Be cool.')]

In [0]:
# df.show()

from pyspark.sql import functions as F

# df=df.withColumn('New_col', F.lit('New_column'))
df=df.withColumnRenamed('New_col', 'LOL1').show()
df.drop("LOL1").show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-663903994903831> in <cell line: 5>()
      3 from pyspark.sql import functions as F
      4
----> 5 df=df.withColumn('New_col', F.lit('New_column'))
      6 df=df.withColumnRenamed('New_col', 'LOL1').show()
      7 df.drop("LOL1").show()

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [0]:
data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])
df2.filter(col('name').like('%rose%')).show()

# "(?i)^*rose$")
df2.filter(col('name').rlike("(?i)^*rose$")).show()

+---+----------+
| id|      name|
+---+----------+
|  5|Rames rose|
+---+----------+

+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|
+---+------------+

In [0]:
# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
distinctDF=df.distinct()

In [0]:
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)

Distinct count: 9
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [0]:
df.orderBy(col('salary').asc()).orderBy(col('department').desc()).show()

df.sort(df.department.asc(),df.state.asc()).show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|       Robert|     Sales|   CA| 81000| 30|23000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        James|     Sales|   NY| 90000| 34|10000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

In [0]:
df.createOrReplaceTempView('Sort_table')

In [0]:
val=spark.sql("""
select * from sort_table
orer by salary,department
""")

val.show()

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
<command-663903994903839> in <cell line: 1>()
----> 1 val=spark.sql("""
      2 select * from sort_table
      3 orer by salary,department
      4 """)
      5

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/session.py in sql(self, sqlQuery, **kwargs)
   1117             sqlQuery = formatter.format(sqlQuery, **kwargs)
   1118         try:
-> 1119             return DataFrame(self._jsparkSession.sql(sqlQuery), self)
   1120         finally:
   1121             if len(kwargs) > 0:

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'by'(line 3, pos 5)

== SQL ==

select * from sort_table
orer by salary,department
-----^^^

In [0]:
simpleData = (("Java",4000,5), \
    ("Python", 4600,10),  \
    ("Scala", 4100,15),   \
    ("Scala", 4500,15),   \
    ("PHP", 3000,20),  \
  )
columns= ["CourseName", "fee", "discount"]

# Create DataFrame
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- CourseName: string (nullable = true)
 |-- fee: long (nullable = true)
 |-- discount: long (nullable = true)

+----------+----+--------+
|CourseName|fee |discount|
+----------+----+--------+
|Java      |4000|5       |
|Python    |4600|10      |
|Scala     |4100|15      |
|Scala     |4500|15      |
|PHP       |3000|20      |
+----------+----+--------+

In [0]:
from pyspark.sql.functions import upper
def to_upper_str_column(df):
    return df.withColumn('CourseName',upper(df.CourseName))

def reduce_price(df, reduceBy):
    return df.withColumn("new_fee", df.fee - reduceBy )

def apply_discount(df):
    return df.withColumn('disc_fee', df.new_fee -(df.new_fee * df.discount)/100)


df2=df.transform(to_upper_str_column) \
       .transform(reduce_price,1000) \
       .transform(apply_discount)

df2.show()

+----------+----+--------+-------+--------+
|CourseName| fee|discount|new_fee|disc_fee|
+----------+----+--------+-------+--------+
|      JAVA|4000|       5|   3000|  2850.0|
|    PYTHON|4600|      10|   3600|  3240.0|
|     SCALA|4100|      15|   3100|  2635.0|
|     SCALA|4500|      15|   3500|  2975.0|
|       PHP|3000|      20|   2000|  1600.0|
+----------+----+--------+-------+--------+

In [0]:
#Pyspark pandas apply

import pyspark.pandas as ps
import numpy as np

tech = ({'Fee':[20000,25000,30000,22000,np.NaN],
        'Discount':[1000,2500,1500,1200,3000]
        })

psdf = ps.DataFrame(tech)

print(psdf)

def add(data):
    return data[0]+ data[1]

addDF = psdf.apply(add, axis=1)

print(addDF)

       Fee  Discount
0  20000.0      1000
1  25000.0      2500
2  30000.0      1500
3  22000.0      1200
4      NaN      3000
0    21000.0
1    27500.0
2    31500.0
3    23200.0
4        NaN
dtype: float64

In [0]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

@udf(returnType=StringType())
def convertCase(str):
    return str.upper()



simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
# df.printSchema()
#df.show(truncate=False)

df = df.withColumn("Newcol_upper",convertCase(col('employee_name')))

df.show()

+-------------+----------+-----+------+---+-----+------------+
|employee_name|department|state|salary|age|bonus|Newcol_upper|
+-------------+----------+-----+------+---+-----+------------+
|        James|     Sales|   NY| 90000| 34|10000|       JAMES|
|      Michael|     Sales|   NY| 86000| 56|20000|     MICHAEL|
|       Robert|     Sales|   CA| 81000| 30|23000|      ROBERT|
|        Maria|   Finance|   CA| 90000| 24|23000|       MARIA|
|        Raman|   Finance|   CA| 99000| 40|24000|       RAMAN|
|        Scott|   Finance|   NY| 83000| 36|19000|       SCOTT|
|          Jen|   Finance|   NY| 79000| 53|15000|         JEN|
|         Jeff| Marketing|   CA| 80000| 25|18000|        JEFF|
|        Kumar| Marketing|   NY| 91000| 50|21000|       KUMAR|
+-------------+----------+-----+------+---+-----+------------+

In [0]:
# Import
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com') \
                    .getOrCreate()

# Prepare Data
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

# Create DataFrame
df = spark.createDataFrame(data=data,schema=columns)
#df.show()

# foreach() Example
def f(df):
    print(df.Seqno)
df.foreach(f)

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
#Create spark session
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- Country: string (nullable = true)

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |400   |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+

In [0]:
df_pivot = df.groupBy('Product').pivot('Country').sum('Amount')
df_pivot.show()

+-------+------+-----+------+----+
|Product|Canada|China|Mexico| USA|
+-------+------+-----+------+----+
| Orange|  null| 4000|  null|4000|
|  Beans|  null| 1500|  2000|1600|
| Banana|  2000|  400|  null|1000|
|Carrots|  2000| 1200|  null|1500|
+-------+------+-----+------+----+

In [0]:
from pyspark.sql.functions import expr

unpivotExpr="stack(3,'Canada', Canada, 'China', China, 'Mexico', Mexico) as (Country, Total)"
unPivotDF = df_pivot.select('Product', expr(unpivotExpr)).where('Total is not null')
unPivotDF.show()

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
| Orange|  China| 4000|
|  Beans|  China| 1500|
|  Beans| Mexico| 2000|
| Banana| Canada| 2000|
| Banana|  China|  400|
|Carrots| Canada| 2000|
|Carrots|  China| 1200|
+-------+-------+-----+

In [0]:
df_pivot=df.groupBy('Country').pivot('Product').sum('Amount')

df_pivot.show()

unpivot_expr = "stack(4, 'Banana', Banana, 'Beans', Beans, 'Carrots', Carrots, 'Orange', Orange) as (Product, Total)"
unPivotDF =df_pivot.select('Country', expr(unpivot_expr)).where('Total is not null')

unPivotDF.show()

+-------+------+-----+-------+------+
|Country|Banana|Beans|Carrots|Orange|
+-------+------+-----+-------+------+
|  China|   400| 1500|   1200|  4000|
|    USA|  1000| 1600|   1500|  4000|
| Mexico|  null| 2000|   null|  null|
| Canada|  2000| null|   2000|  null|
+-------+------+-----+-------+------+

+-------+-------+-----+
|Country|Product|Total|
+-------+-------+-----+
|  China| Banana|  400|
|  China|  Beans| 1500|
|  China|Carrots| 1200|
|  China| Orange| 4000|
|    USA| Banana| 1000|
|    USA|  Beans| 1600|
|    USA|Carrots| 1500|
|    USA| Orange| 4000|
| Mexico|  Beans| 2000|
| Canada| Banana| 2000|
| Canada|Carrots| 2000|
+-------+-------+-----+

In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number 

spark = SparkSession.builder.master("local[*]").appName('Test').getOrCreate()


# spark = SparkSession.builder \
#     .master("local[*]") \
#     .appName('test') \
#     .getOrCreate()

In [0]:
spark

In [0]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]

df = spark.createDataFrame(simpleData,schema=columns)

window_expr = Window.partitionBy('department').orderBy('salary')

df.withColumn('row_num', row_number().over(window_expr)).show()

+-------------+----------+------+-------+
|employee_name|department|salary|row_num|
+-------------+----------+------+-------+
|        Maria|   Finance|  3000|      1|
|        Scott|   Finance|  3300|      2|
|          Jen|   Finance|  3900|      3|
|        Kumar| Marketing|  2000|      1|
|         Jeff| Marketing|  3000|      2|
|        James|     Sales|  3000|      1|
|        James|     Sales|  3000|      2|
|       Robert|     Sales|  4100|      3|
|         Saif|     Sales|  4100|      4|
|      Michael|     Sales|  4600|      5|
+-------------+----------+------+-------+

In [0]:
win_expr = Window.partitionBy('department').orderBy('salary')

df.withColumn('rank', row_number().over(win_expr)).show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   2|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   4|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.functions import rank,dense_rank
window_exp = Window.partitionBy('department').orderBy('salary')

df.withColumn('rank', rank().over(window_expr)).show()
df.withColumn('dense_rank', dense_rank().over(window_exp)).show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   3|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

+-------------+----------+------+----------+
|employee_name|department|salary|dense_rank|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         2|
|         Saif|     Sales|  4100|         2|
|      Michael|     Sales|  4600|         3|
+-------------+----------+------+----------+

In [0]:
windowSpec  = Window.partitionBy("department").orderBy("salary")
windowSpecAgg  = Window.partitionBy("department")
from pyspark.sql.functions import col,avg,sum,min,max,row_number 
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("salary")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("salary")).over(windowSpecAgg)) \
  .withColumn("min", min(col("salary")).over(windowSpecAgg)) \
  .withColumn("max", max(col("salary")).over(windowSpecAgg)) \
  .where(col("row")==1).select("department","avg","sum","min","max") \
  .show()

+----------+------+-----+----+----+
|department|   avg|  sum| min| max|
+----------+------+-----+----+----+
|   Finance|3400.0|10200|3000|3900|
| Marketing|2500.0| 5000|2000|3000|
|     Sales|3760.0|18800|3000|4600|
+----------+------+-----+----+----+

In [0]:
df.select('department', col('salary').alias('sal')).show()

+----------+----+
|department| sal|
+----------+----+
|     Sales|3000|
|     Sales|4600|
|     Sales|4100|
|   Finance|3000|
|     Sales|3000|
|   Finance|3300|
|   Finance|3900|
| Marketing|3000|
| Marketing|2000|
|     Sales|4100|
+----------+----+