In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [0]:
#Create DF using list of rows
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df=spark.createDataFrame([Row(a=1,b=2.,c='string1',d=date(2000,1,1),e=datetime(2000,1,1,12,0)),
                         Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
                         Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
                         ])
df.show()
df.printSchema()
df

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

Out[3]: DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [0]:
#Create a PySpark DataFrame with an explicit schema.
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., '%storering2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

Out[4]: DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [0]:
#Create a PySpark DataFrame from a pandas DataFrame
pd_df=pd.DataFrame({'a':[1,2,3],'b':[2.,3.,4],'c':['string1','string2','string3'],'d':[date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],'e':[datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]})

df=spark.createDataFrame(pd_df)
df

Out[5]: DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [0]:
#Create a PySpark DataFrame from an RDD consisting of a list of tuples.
rdd=spark.sparkContext.parallelize([(1,2.,'string1',date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
                                 (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
                                 (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))])
df=spark.createDataFrame(rdd,schema=['a','b','c','d','e'])
df

Out[6]: DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [0]:
# All DataFrames above result same.
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [0]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

a,b,c,d,e
1,2.0,string1,2000-01-01,2000-01-01 12:00:00
2,3.0,string2,2000-02-01,2000-01-02 12:00:00
3,4.0,string3,2000-03-01,2000-01-03 12:00:00

In [0]:
df.show(truncate=False)

+---+---+-------+----------+-------------------+
|a  |b  |c      |d         |e                  |
+---+---+-------+----------+-------------------+
|1  |2.0|string1|2000-01-01|2000-01-01 12:00:00|
|2  |3.0|string2|2000-02-01|2000-01-02 12:00:00|
|3  |4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [0]:
 input_data = [("Mobile(Fluid Black, 8GB RAM, 128GB Storage)",
                   112345, 4.0, 12499),
                   
                  ("LED TV", 114567, 4.2, 49999),
                   
                  ("Refrigerator", 123543, 4.4, 13899),
                   
                  ("6.5 kg Fully-Automatic Top Loading Washing Machine \
                  (WA65A4002VS/TL, Imperial Silver, Center Jet Technology)",
                   113465, 3.9, 6999),
                   
                  ("T-shirt", 124378, 4.1, 1999),
                   
                  ("Jeans", 126754, 3.7, 3999),
                   
                  ("Men's Casual Shoes in White Sneakers for Outdoor and\
                  Daily use", 134565, 4.7, 1499),
                   
                  ("Vitamin C Ultra Light Gel Oil-Free Moisturizer",
                   145234, 4.6, 999),
                  ]
 
 schema = ["Name", "ID", "Rating", "Price"]
     
 # calling function to create dataframe
 df = spark.createDataFrame(input_data, schema)
 df.show()
df.show(truncate=False)

+--------------------+------+------+-----+
|                Name|    ID|Rating|Price|
+--------------------+------+------+-----+
|Mobile(Fluid Blac...|112345|   4.0|12499|
|              LED TV|114567|   4.2|49999|
|        Refrigerator|123543|   4.4|13899|
|6.5 kg Fully-Auto...|113465|   3.9| 6999|
|             T-shirt|124378|   4.1| 1999|
|               Jeans|126754|   3.7| 3999|
|Men's Casual Shoe...|134565|   4.7| 1499|
|Vitamin C Ultra L...|145234|   4.6|  999|
+--------------------+------+------+-----+

+----------------------------------------------------------------------------------------------------------------------------+------+------+-----+
|Name                                                                                                                        |ID    |Rating|Price|
+----------------------------------------------------------------------------------------------------------------------------+------+------+-----+
|Mobile(Fluid Black, 8GB RAM, 128GB Storage)                                                                                 |112345|4.0   |12499|
|LED TV                                                                                                                      |114567|4.2   |49999|
|Refrigerator                                                                                                                |123543|4.4   |13899|
|6.5 kg Fully-Automatic Top Loading Washing Machine                  (WA65A4002VS/TL, Imperial Silver, Center Jet Technology)|113465|3.9   |6999 |
|T-shirt                                                                                                                     |124378|4.1   |1999 |
|Jeans                                                                                                                       |126754|3.7   |3999 |
|Men's Casual Shoes in White Sneakers for Outdoor and                 Daily use                                              |134565|4.7   |1499 |
|Vitamin C Ultra Light Gel Oil-Free Moisturizer                                                                              |145234|4.6   |999  |
+----------------------------------------------------------------------------------------------------------------------------+------+------+-----+

In [0]:
#Create a PySpark DataFrame with an explicit schema.
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., '%storering2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df
df.show(2,vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | %storering2
 d   | 2000-02-01
 e   | 2000-01-02 12:00:00
only showing top 2 rows

In [0]:
#You can see the DataFrame's schema and column names as follows:
print(df.columns)
print(df.printSchema())

['a', 'b', 'c', 'd', 'e']
root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

None

In [0]:
#Show the summary of the DataFrame
df.select('a','b','c').describe().show()

+-------+---+---+-----------+
|summary|  a|  b|          c|
+-------+---+---+-----------+
|  count|  3|  3|          3|
|   mean|2.0|3.0|       null|
| stddev|1.0|1.0|       null|
|    min|  1|2.0|%storering2|
|    max|  3|4.0|    string3|
+-------+---+---+-----------+

In [0]:
df.collect() #Chance of getting out of memory incase of huge data, to avoid this erroe use df.take() or df.tail()

Out[14]: [Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='%storering2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [0]:
df.take(2)

Out[15]: [Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='%storering2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0))]

In [0]:
df.tail(1)

Out[16]: [Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [0]:
df.toPandas()

,a,b,c,d,e
0,1,2.0,string1,2000-01-01,2000-01-01 12:00:00
1,2,3.0,%storering2,2000-02-01,2000-01-02 12:00:00
2,3,4.0,string3,2000-03-01,2000-01-03 12:00:00

In [0]:
df.a

Out[18]: Column<'a'>

In [0]:
df.select('c').show()
df.select(df.c).show()

+-----------+
|          c|
+-----------+
|    string1|
|%storering2|
|    string3|
+-----------+

+-----------+
|          c|
+-----------+
|    string1|
|%storering2|
|    string3|
+-----------+

In [0]:
df.withColumn('Upper_C',df.c).show()

+---+---+-----------+----------+-------------------+-----------+
|  a|  b|          c|         d|                  e|    Upper_C|
+---+---+-----------+----------+-------------------+-----------+
|  1|2.0|    string1|2000-01-01|2000-01-01 12:00:00|    string1|
|  2|3.0|%storering2|2000-02-01|2000-01-02 12:00:00|%storering2|
|  3|4.0|    string3|2000-03-01|2000-01-03 12:00:00|    string3|
+---+---+-----------+----------+-------------------+-----------+

In [0]:
#filter

df.filter(df.a == 1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [0]:
#Applying functions

import pandas as pd
from pyspark.sql.functions import pandas_udf

@pandas_udf('long')
def pandas_plus_one(series: pd.Series) -> pd.Series :
    return series+1

df.select(pandas_plus_one(df.a)).show()

+------------------+
|pandas_plus_one(a)|
+------------------+
|                 2|
|                 3|
|                 4|
+------------------+

In [0]:
#DataFrame.mapInPandas which allows users directly use the APIs in a pandas DataFrame without any restrictions such as the result length.

def pandas_filter_func(iterator):
    for pandas_df in iterator:
        yield pandas_df[pandas_df.a == 1]
        
df.mapInPandas(pandas_filter_func,schema=df.schema).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [0]:
df = spark.createDataFrame([
    ['red', 'banana', 1, 10], ['blue', 'banana', 2, 20], ['red', 'carrot', 3, 30],
    ['blue', 'grape', 4, 40], ['red', 'carrot', 5, 50], ['black', 'carrot', 6, 60],
    ['red', 'banana', 7, 70], ['red', 'grape', 8, 80]], schema=['color', 'fruit', 'v1', 'v2'])
df.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [0]:
df.groupBy('color').avg().show()

+-----+-------+-------+
|color|avg(v1)|avg(v2)|
+-----+-------+-------+
|  red|    4.8|   48.0|
| blue|    3.0|   30.0|
|black|    6.0|   60.0|
+-----+-------+-------+

In [0]:
def plus_mean(pandas_df):
    return pandas_df.assign(v1=pandas_df.v1 - pandas_df.v1.mean())

df.groupby('color').applyInPandas(plus_mean,schema=df.schema).show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|black|carrot|  0| 60|
| blue|banana| -1| 20|
| blue| grape|  1| 40|
|  red|banana| -3| 10|
|  red|carrot| -1| 30|
|  red|carrot|  0| 50|
|  red|banana|  2| 70|
|  red| grape|  3| 80|
+-----+------+---+---+

In [0]:
df.write.csv('head.csv',header=True,mode='overwrite')
s#park.read.csv('head.csv', header=True)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-2424063623817665> in <cell line: 2>()
      1 df.write.csv('head.csv',header=True,mode='overwrite')
----> 2 s#park.read.csv('head.csv', header=True)

NameError: name 's' is not defined

In [0]:
#Working with SQL
df.createOrReplaceTempView('tableA')
spark.sql('select count(*) from tableA')

In [0]:
spark.sql('select * from tableA')
spark.sql('select color,  max(v1) from tableA group by color')

###Quickstart: Pandas API on Spark

In [0]:
import pandas as pd
import numpy as np 
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [0]:
s=ps.Series([1,2,3,np.nan,6,8])
s

In [0]:
#Creating a pandas-on-Spark DataFrame by passing a dict of objects that can be converted to series-like
psdf=ps.DataFrame({'a':[1,2,3,4,5],
                  'b':[100,200,300,400,500],
                  'c':['one','two','three','four','five'],
                  },index=[10,20,30,40,50])

print(psdf)

In [0]:
dates=pd.date_range('20220101',freq='D',periods=6)
dates

In [0]:
pd_df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(pd_df)
df_ps = ps.from_pandas(pd_df)
type(df_ps)

In [0]:
psdf=spark.createDataFrame(pd_df)
psdf.show()

In [0]:
#Creating pandas-on-Spark DataFrame from Spark DataFrame.

psdf = psdf.pandas_api()
print(psdf)
type(psdf)

In [0]:
psdf.dtypes

In [0]:
psdf.head()

In [0]:
print(psdf.index)
print(psdf.columns)

In [0]:
psdf.to_numpy()

In [0]:
psdf.describe()

In [0]:
psdf.T

In [0]:
psdf.sort_index(ascending=False)

In [0]:
psdf.sort_values(by='B')

###Missing Data

In [0]:
import pandas as pd
import numpy as np 
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [0]:
dates = pd.date_range('20130101', periods=6)
pdf=pd.DataFrame(np.random.randn(6,4), index=dates , columns=list('ABCD'))
pdf

In [0]:
pdf1=pdf.reindex(index=dates[0:4],columns=list(pdf.columns)+['E'])
pdf1

In [0]:
pdf1.loc[dates[0]:dates[1],'E'] = 1
pdf1
type(pdf1)

In [0]:
psdf1=ps.from_pandas(pdf1)
psdf1

In [0]:
#Drop any row that having missing data
psdf1.dropna(how='any')

In [0]:
#fill na 
psdf1.fillna('Missing Value')

###Operation

#### Stats

In [0]:
psdf1.mean()

#### Spark Configurations

In [0]:
prev = spark.conf.get('spark.sql.execution.arrow.pyspark.enabled') #Keep it's efault value
ps.set_option('compute.default_index_type', 'distributed')  #Use default index prevent overhead
import warnings
warnings.filterwarnings('ignore') #Ignore warnings coming from Arrow optimizations

In [0]:
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', True)
%timeit ps.range(300000).to_pandas()

In [0]:
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)
%timeit ps.range(300000).to_pandas()

In [0]:
ps.reset_option('compute.default_index_type')
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', prev)  #Set it's default va;ue back

##Grouping

In [0]:
psdf = ps.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
psdf

In [0]:
psdf.groupby('A').sum()

In [0]:
psdf.groupby(['A','B']).sum()

## Plotting

In [0]:
pser=pd.Series(np.random.randn(10),index=pd.date_range('1/1/2022',periods=10))
#print(pser)
psser=ps.Series(pser)
#print(psser)
psser=psser.cummax()
print(psser)
psser.plot()

##Apache Arrow in PySpark
(https://spark.apache.org/docs/latest/api/python/user_guide/sql/arrow_pandas.html)

In [0]:
spark.conf.set('spark.sql.execute.arrow.pyspark.enabled', True)

In [0]:
pdf=pd.DataFrame(np.random.rand(100,3))
pdf

In [0]:
df=spark.createDataFrame(pdf)
type(df)

In [0]:
sdf=df.select('*').toPandas()
type(sdf)

###Pandas_udf

In [0]:
from typing import Iterator
import pandas as pd
from pyspark.sql.functions import pandas_udf

pdf=pd.DataFrame([1,2,3],columns=['x'])
df=spark.createDataFrame(pdf)

@pandas_udf('long')
def plus_one(iterator: Iterator[pd.Series]) -> Iterator[pd.Series]:
    for x in iterator:
        yield x+1 
        
df.select(plus_one("x")).show()

In [0]:
#Series to Scaler
import pandas as pd
from pyspark.sql.functions import pandas_udf


df=spark.createDataFrame([(1,2,0),(1,1,1),(2,2,2),(1,2,1),(3,2,1)],("id","v","z"))

@pandas_udf("double")
def cal_mean(v:pd.Series) ->float :
    return v.mean()

df.select(cal_mean(df['v'])).show()

df.groupby('id').agg(cal_mean(df['v'])).show()

###Pandas Function APIs

In [0]:
df=spark.createDataFrame(
    [(1, 1.0), (1, 2.0), (2, 3.0), (2, 5.0), (2, 10.0)],
    ("id", "v"))

def substract_mean(pdf: pd.DataFrame) ->pd.DataFrame:
    v=pdf.v
    return pdf.assign( v= v - v.mean())

df.groupby('id').applyInPandas(substract_mean, schema=df.schema).show()

In [0]:
#MAP

df=spark.createDataFrame([(1,21),(1,20),(2,15)],('id','age'))

def filter_func(iterator: Iterator[pd.DataFrame]) -> Iterator[pd.DataFrame]:
    for pdf in iterator:
        yield pdf[pdf.id == 1]
        
df.mapInPandas(filter_func, schema=df.schema).show()

In [0]:
#Co-grouped map 

import pandas as pd
df1=spark.createDataFrame([(20000101, 1, 1.0), (20000101, 2, 2.0), (20000102, 1, 3.0), (20000102, 2, 4.0)],
    ("time", "id", "v1"))

df2 = spark.createDataFrame(
    [(20000101, 1, "x"), (20000101, 2, "y")],
    ("time", "id", "v2"))

###Didn't understand 
def asof_join(left: pd.DataFrame, right: pd.DataFrame) ->pd.DataFrame:
    return pd.merge_asof(left,right,on='time', by='id')

df1.groupby('id').cogroup(df2.groupby('id')).applyInPandas(asof_join,schema="time int, id int, v1 double, v2 string").show()

#Pandas API on SPark

###Options and Settings

In [0]:
import pyspark.pandas as ps
print(ps.options.display.max_rows)

ps.options.display.max_rows = 100
print(ps.options.display.max_rows)

ps.set_option('display.max_rows', 200)

print(ps.get_option("display.max_rows"))

In [0]:
 #option_context context manager has been exposed through the top-level API, allowing you to execute code with given option values. Option values are restored automatically when you exit the with block:

with ps.option_context("display.max_rows", 10, "compute.max_rows", 5):
    print(ps.get_option('display.max_rows'))
    print(ps.get_option('compute.max_rows'))
    

print(ps.get_option('compute.max_rows'))
print(ps.get_option('display.max_rows'))

###Operations on different DataFrames

Pandas API on Spark disallows the operations on different DataFrames (or Series) by default to prevent expensive operations. It internally performs a join operation which can be expensive in general.

This can be enabled by setting compute.ops_on_diff_frames to True to allow such cases. See the examples below.

In [0]:
import pyspark.pandas as ps
ps.set_option('compute.ops_on_diff_frames', True)

psdf1 =ps.range(5)
print(psdf1)
psdf2= ps.DataFrame({'id':[5,4,3]})

(psdf1 - psdf2)

ps.reset_option('compute.ops_on_diff_frames')

In [0]:
##Default Index type
ps.set_option('compute.default_index_type', 'sequence')
psdf=ps.range(4,10)
print(psdf.index)
ps.reset_option('compute.default_index_type')
psdf=ps.range(4,10)
print(psdf.index)

In [0]:
#distributed-sequence (default): It implements a sequence that increases one by one, by group-by and group-map approach in a distributed manner.

ps.set_option('compute.default_index_type','distributed-sequence')
psdf=ps.range(3)
ps.reset_option('compute.default_index_type')
psdf.index

In [0]:
#distributed, gwarning : genearlly we should not use this 

ps.set_option('compute.default_index_type', 'distributed')
psdf=ps.range(3)
ps.reset_option('compute.default_index_type')
psdf.index

#From/to pandas and PySpark DataFrames

In [0]:
#pandas

import pyspark.pandas as pd
psdf=pd.range(10)
psdf
pdf=psdf.to_pandas()
pdf.values
print(type(psdf), type(pdf))

In [0]:
import pyspark.pandas as ps
psdf =ps.range(10)
print(type(psdf))
pp=psdf.to_spark()
print(type(pp))

pdf=psdf.to_pandas()
type(pdf)

<class 'pyspark.pandas.frame.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
Out[31]: pandas.core.frame.DataFrame

In [0]:
#Pyspark
psdf = ps.range(10)
type(psdf)
print(psdf)

sdf=psdf.to_spark().filter('id > 5')
print(sdf)

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
+---+
| id|
+---+
|  6|
|  7|
|  8|
|  9|
+---+

In [0]:
type(sdf)
psdf1 = sdf.pandas_api()
print(type(psdf1), psdf1)

<class 'pyspark.pandas.frame.DataFrame'>    id
0   6
1   7
2   8
3   9

In [0]:
psdf = ps.DataFrame({'id':range(10)}, index=range(10))

sdf=psdf.to_spark(index_col='index').filter('id > 5')
print(sdf)

psdf1=sdf.pandas_api(index_col='index')
print(psdf1)

+-----+---+
|index| id|
+-----+---+
|    6|  6|
|    7|  7|
|    8|  8|
|    9|  9|
+-----+---+

       id
index
6       6
7       7
8       8
9       9

###Transform and apply a function

In [0]:
#Transform and apply

psdf = ps.DataFrame({'a': [1,2,3], 'b':[4,5,6]})

def plus_one(pser):
    return pser + 1  #should always return the same length as input

#print(psdf.transform(plus_one))


def plandas_plus(pser):
    return pser[pser % 2 == 1]

print(psdf.apply(plandas_plus,axis='columns'))
# print(psdf.pandas_on_spark.transform_batch(plus_one))
print(psdf.pandas_on_spark.apply_batch(plandas_plus))

     a    b
0  1.0  NaN
1  NaN  5.0
2  3.0  NaN
     a    b
0  1.0  NaN
1  NaN  5.0
2  3.0  NaN

###Type casting between PySpark and pandas API on Spark

In [0]:
sdf = spark.createDataFrame([(1, 1.0, 1., 1., 1, 1, 1)])

sdf.dtypes

Out[64]: [('_1', 'bigint'),
 ('_2', 'double'),
 ('_3', 'double'),
 ('_4', 'double'),
 ('_5', 'bigint'),
 ('_6', 'bigint'),
 ('_7', 'bigint')]

In [0]:
ps=sdf.pandas_api()
ps.dtypes

Out[65]: _1      int64
_2    float64
_3    float64
_4    float64
_5      int64
_6      int64
_7      int64
dtype: object

In [0]:
#Pandas API on Spark currently does not support multiple types of data in single column.
import pyspark.pandas as ps
# ps.Series([1,'A'])

---------------------------------------------------------------------------
ArrowInvalid                              Traceback (most recent call last)
<command-220042839772850> in <cell line: 2>()
      1 import pyspark.pandas as ps
----> 2 ps.Series([1,'A'])

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/pandas/series.py in __init__(self, data, index, dtype, name, copy, fastpath)
    408                     data=data, index=index, dtype=dtype, name=name, copy=copy, fastpath=fastpath
    409                 )
--> 410             internal = InternalFrame.from_pandas(pd.DataFrame(s))
    411             if s.name is None:
    412                 internal = internal.copy(column_labels=[None])

/databricks/spark/python/pyspark/pandas/internal.py in from_pandas(pdf)
   1466             data_columns,
   1467             data_fields,
-> 1468         ) = InternalFrame.prepare_pandas_frame(pdf, prefer_timestamp_ntz=prefer_timestamp_ntz)
   1469
   1470         schema = StructType([field.struct_field for field in index_fields + data_fields])

/databricks/spark/python/pyspark/pandas/internal.py in prepare_pandas_frame(pdf, retain_index, prefer_timestamp_ntz)
   1567
   1568         for col, dtype in zip(reset_index.columns, reset_index.dtypes):
-> 1569             spark_type = infer_pd_series_spark_type(reset_index[col], dtype, prefer_timestamp_ntz)
   1570             reset_index[col] = DataTypeOps(dtype, spark_type).prepare(reset_index[col])
   1571

/databricks/spark/python/pyspark/pandas/typedef/typehints.py in infer_pd_series_spark_type(pser, dtype, prefer_timestamp_ntz)
    358             return pser.iloc[0].__UDT__
    359         else:
--> 360             return from_arrow_type(pa.Array.from_pandas(pser).type, prefer_timestamp_ntz)
    361     elif isinstance(dtype, CategoricalDtype):
    362         if isinstance(pser.dtype, CategoricalDtype):

/databricks/python/lib/python3.9/site-packages/pyarrow/array.pxi in pyarrow.lib.Array.from_pandas()

/databricks/python/lib/python3.9/site-packages/pyarrow/array.pxi in pyarrow.lib.array()

/databricks/python/lib/python3.9/site-packages/pyarrow/array.pxi in pyarrow.lib._ndarray_to_array()

/databricks/python/lib/python3.9/site-packages/pyarrow/error.pxi in pyarrow.lib.check_status()

ArrowInvalid: Could not convert 'A' with type str: tried to convert to int64

In [0]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.pandas as ps
spark=SparkSession.builder.getOrCreate()

In [0]:
def pandas_div(pdf) -> ps.DataFrame[float, float]:
    return pdf[['B', 'C']] / pdf[['B', 'C']]

df=ps.DataFrame({'A': ['a', 'a', 'b'], 'B': [1, 2, 3], 'C': [4, 6, 5]})
#print(df)
type(df.groupby('A').apply(pandas_div))

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5
Out[12]: pyspark.pandas.frame.DataFrame

In [0]:
df = ps.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

,A,B
0,4,9
1,4,9
2,4,9

In [0]:
def transform(pdf) -> pd.DataFrame['id':int, 'A':int]:
    pdf['A'] = pdf.id + 1
    return pdf

print(ps.range(5))
ps.range(5).pandas_on_spark.apply_batch(transform)

   id
0   0
1   1
2   2
3   3
4   4

,id,A
0,0,1
1,1,2
2,2,3
3,3,4
4,4,5

In [0]:
import pandas as pd

pdf=pd.DataFrame({'id':range(5)})
print(pdf)

sample=pdf.copy()
sample['A']=sample.id + 1
print(sample)
print(pdf)

   id
0   0
1   1
2   2
3   3
4   4
   id  A
0   0  1
1   1  2
2   2  3
3   3  4
4   4  5
   id
0   0
1   1
2   2
3   3
4   4

In [0]:
def transform(pdf)->pd.DataFrame[int,[int,int]]:
    pdf['a']=pdf.id+1
    return pdf

ps.from_pandas(pdf).pandas_on_spark.apply_batch(transform)

,c0,c1
0,0,1
1,1,2
2,2,3
3,3,4
4,4,5

In [0]:
def transform(pdf) ->pd.DataFrame[sample.index.dtype, sample.dtypes]:
    pdf['a']=pdf.id+1
    return pdf

ps.from_pandas(pdf).pandas_on_spark.apply_batch(transform)

,c0,c1
0,0,1
1,1,2
2,2,3
3,3,4
4,4,5

In [0]:
midx = pd.MultiIndex.from_arrays([(1, 1, 2), (1.5, 4.5, 7.5)],names=("int","float"))

def transform(pdf) -> pd.DataFrame[[int, float], [int, int]]:
    pdf["a"] = pdf.id + 1
    return pdf

ps.from_pandas(pdf).pandas_on_spark.apply_batch(transform)

/databricks/spark/python/pyspark/sql/pandas/conversion.py:208: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true, but has reached the error below and can not continue. Note that 'spark.sql.execution.arrow.pyspark.fallback.enabled' does not have an effect on failures in the middle of computation.
  An error occurred while calling o3187.getResult.
: org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:454)
	at org.apache.spark.security.SocketAuthServer.getResult(SocketAuthServer.scala:107)
	at org.apache.spark.security.SocketAuthServer.getResult(SocketAuthServer.scala:103)
	at sun.reflect.GeneratedMethodAccessor745.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:380)
	at py4j.Gateway.invoke(Gateway.java:306)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 52.0 failed 1 times, most recent failure: Lost task 1.0 in stage 52.0 (TID 156) (ip-10-172-165-213.us-west-2.compute.internal executor driver): org.apache.spark.api.python.PythonException: 'ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements'. Full traceback below:
Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 5502, in __setattr__
    pass
  File "pandas/_libs/properties.pyx", line 70, in pandas._libs.properties.AxisProperty.__set__
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 766, in _set_axis
    self._mgr.set_axis(axis, labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/managers.py", line 216, in set_axis
    self._validate_set_axis(axis, new_labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/base.py", line 57, in _validate_set_axis
    raise ValueError(
ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:694)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:110)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:647)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at scala.collection.Iterator$SliceIterator.hasNext(Iterator.scala:268)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$3(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$1(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:41)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:169)
	at org.apache.spark.scheduler.Task.$anonfun$run$4(Task.scala:137)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:125)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:137)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:96)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:902)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1696)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:905)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:760)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:3312)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:3244)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:3235)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:3235)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1424)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1424)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1424)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3524)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3462)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3450)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:51)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$runJob$1(DAGScheduler.scala:1169)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:80)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1157)
	at org.apache.spark.SparkContext.runJobInternal(SparkContext.scala:2727)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2710)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2822)
	at org.apache.spark.sql.Dataset.$anonfun$collectAsArrowToPython$6(Dataset.scala:4225)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1696)
	at org.apache.spark.sql.Dataset.$anonfun$collectAsArrowToPython$3(Dataset.scala:4229)
	at org.apache.spark.sql.Dataset.$anonfun$collectAsArrowToPython$3$adapted(Dataset.scala:4195)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$3(Dataset.scala:4292)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:782)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4290)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$8(SQLExecution.scala:243)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:392)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withCustomExecutionEnv$1(SQLExecution.scala:188)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:985)
	at org.apache.spark.sql.execution.SQLExecution$.withCustomExecutionEnv(SQLExecution.scala:142)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:342)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4290)
	at org.apache.spark.sql.Dataset.$anonfun$collectAsArrowToPython$2(Dataset.scala:4195)
	at org.apache.spark.sql.Dataset.$anonfun$collectAsArrowToPython$2$adapted(Dataset.scala:4194)
	at org.apache.spark.security.SocketAuthServer$.$anonfun$serveToStream$2(SocketAuthServer.scala:153)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1696)
	at org.apache.spark.security.SocketAuthServer$.$anonfun$serveToStream$1(SocketAuthServer.scala:155)
	at org.apache.spark.security.SocketAuthServer$.$anonfun$serveToStream$1$adapted(SocketAuthServer.scala:150)
	at org.apache.spark.security.SocketFuncServer.handleConnection(SocketAuthServer.scala:124)
	at org.apache.spark.security.SocketFuncServer.handleConnection(SocketAuthServer.scala:117)
	at org.apache.spark.security.SocketAuthServer$$anon$1.$anonfun$run$4(SocketAuthServer.scala:70)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.security.SocketAuthServer$$anon$1.run(SocketAuthServer.scala:70)
Caused by: org.apache.spark.api.python.PythonException: 'ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements'. Full traceback below:
Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 5502, in __setattr__
    pass
  File "pandas/_libs/properties.pyx", line 70, in pandas._libs.properties.AxisProperty.__set__
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 766, in _set_axis
    self._mgr.set_axis(axis, labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/managers.py", line 216, in set_axis
    self._validate_set_axis(axis, new_labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/base.py", line 57, in _validate_set_axis
    raise ValueError(
ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:694)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:110)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:647)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at scala.collection.Iterator$SliceIterator.hasNext(Iterator.scala:268)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$3(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$1(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:41)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:169)
	at org.apache.spark.scheduler.Task.$anonfun$run$4(Task.scala:137)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:125)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:137)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:96)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:902)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1696)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:905)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:760)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

  warn(msg)
/databricks/spark/python/pyspark/sql/pandas/conversion.py:208: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true, but has reached the error below and can not continue. Note that 'spark.sql.execution.arrow.pyspark.fallback.enabled' does not have an effect on failures in the middle of computation.
  An error occurred while calling o3237.getResult.
: org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:454)
	at org.apache.spark.security.SocketAuthServer.getResult(SocketAuthServer.scala:107)
	at org.apache.spark.security.SocketAuthServer.getResult(SocketAuthServer.scala:103)
	at sun.reflect.GeneratedMethodAccessor745.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:380)
	at py4j.Gateway.invoke(Gateway.java:306)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 54.0 failed 1 times, most recent failure: Lost task 2.0 in stage 54.0 (TID 162) (ip-10-172-165-213.us-west-2.compute.internal executor driver): org.apache.spark.api.python.PythonException: 'ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements'. Full traceback below:
Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 5502, in __setattr__
    pass
  File "pandas/_libs/properties.pyx", line 70, in pandas._libs.properties.AxisProperty.__set__
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py", line 766, in _set_axis
    self._mgr.set_axis(axis, labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/managers.py", line 216, in set_axis
    self._validate_set_axis(axis, new_labels)
  File "/databricks/python/lib/python3.9/site-packages/pandas/core/internals/base.py", line 57, in _validate_set_axis
    raise ValueError(
ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:694)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:110)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:647)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:761)
	at scala.collection.Iterator$SliceIterator.hasNext(Iterator.scala:268)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:151)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$3(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.$anonfun$runTask$1(ShuffleMapTask.scala:81)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:41)
	at org.apache.spark.scheduler.Task.doRunTask(Task.scala:169)
	at org.apache.spark.scheduler.Task.$anonfun$run$4(Task.scala:137)
	at com.databricks.unity.EmptyHandle$.runWithAndClose(UCSHandle.scala:125)
	at org.apache.spark.scheduler.Task.$anonfun$run$1(Task.scala:137)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.scheduler.Task.run(Task.scala:96)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$13(Executor.scala:902)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1696)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:905)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.ExecutorFrameProfiler$.record(ExecutorFrameProfiler.scala:110)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:760)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:3312)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:3244)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:3235)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:3235)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1424)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1424)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1424)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3524)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3462)

In [0]:
import sqlite3

con = sqlite3.connect('example.db')
cur = con.cursor()
# Create table
cur.execute(
    '''CREATE TABLE stocks
       (date text, trans text, symbol text, qty real, price real)''')
# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
# Save (commit) the changes
con.commit()
con.close()

In [0]:
!curl -O https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7125k  100 7125k    0     0  46.0M      0 --:--:-- --:--:-- --:--:-- 46.0M

In [0]:
import os

from pyspark.sql import SparkSession

(SparkSession.builder
    .master("local")
    .appName("SQLite JDBC")
    .config(
        "spark.jars",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .config(
        "spark.driver.extraClassPath",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .getOrCreate())
#Now, you’re ready to read the table:

import pyspark.pandas as ps

df = ps.read_sql("stocks", con="jdbc:sqlite:{}/example.db".format(os.getcwd()))
df

,date,trans,symbol,qty,price
0,2006-01-05,BUY,RHAT,100.0,35.14

In [0]:
df.price += 1
df.spark.to_spark_io(
    format="jdbc", mode="append",
    dbtable="stocks", url="jdbc:sqlite:{}/example.db".format(os.getcwd()))
ps.read_sql("stocks", con="jdbc:sqlite:{}/example.db".format(os.getcwd()))

,date,trans,symbol,qty,price
0,2006-01-05,BUY,RHAT,100.0,35.14
1,2006-01-05,BUY,RHAT,100.0,36.14

#Best Practice

In [0]:
from pyspark import SparkConf, SparkContext
conf = SparkConf()
conf.set('spark.executor.memory', '2g')
# Pandas API on Spark automatically uses this Spark context with the configurations set.
SparkContext(conf=conf)

import pyspark.pandas as ps

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<command-2673134026439754> in <cell line: 5>()
      3 conf.set('spark.executor.memory', '2g')
      4 # Pandas API on Spark automatically uses this Spark context with the configurations set.
----> 5 SparkContext(conf=conf)
      6
      7 import pyspark.pandas as ps

/databricks/spark/python/pyspark/context.py in __init__(self, master, appName, sparkHome, pyFiles, environment, batchSize, serializer, conf, gateway, jsc, profiler_cls, udf_profiler_cls)
    197             )
    198
--> 199         SparkContext._ensure_initialized(self, gateway=gateway, conf=conf)
    200         try:
    201             self._do_init(

/databricks/spark/python/pyspark/context.py in _ensure_initialized(cls, instance, gateway, conf)
    476
    477                     # Raise error if there is already a running Spark context
--> 478                     raise ValueError(
    479                         "Cannot run multiple SparkContexts at once; "
    480                         "existing SparkContext(app=%s, master=%s)"

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=Databricks Shell, master=local[8]) created by __init__ at /databricks/python_shell/dbruntime/spark_connection.py:127

In [0]:
import pyspark.pandas as ps
psdf=ps.DataFrame({'id':range(10)})
psdf['id']=psdf[psdf.id > 5]
psdf['id']=psdf['id']+(10*psdf['id']+psdf['id'])
psdf=psdf.groupby('id').head(2)
psdf.spark.explain()

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<command-1194836937574392> in <cell line: 3>()
      1 import pyspark.pandas as ps
      2 psdf=ps.DataFrame({'id':range(10)})
----> 3 psdf['id']=psdf[psdf.id > 5]
      4 psdf['id']=psdf['id']+(10*psdf['id']+psdf['id'])
      5 psdf=psdf.groupby('id').head(2)

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/pandas/frame.py in __setitem__(self, key, value)
  12416                         yield (psdf._psser_for(this_label), this_label)
  12417
> 12418             psdf = align_diff_frames(assign_columns, self, value, fillna=False, how="left")
  12419         elif isinstance(value, list):
  12420             if len(self) != len(value):

/databricks/spark/python/pyspark/pandas/utils.py in align_diff_frames(resolve_func, this, that, fillna, how, preserve_order_column)
    385
    386     # 1. Perform the join given two dataframes.
--> 387     combined = combine_frames(this, that, how=how, preserve_order_column=preserve_order_column)
    388
    389     # 2. Apply the given function to transform the columns in a batch and keep the new columns.

/databricks/spark/python/pyspark/pandas/utils.py in combine_frames(this, how, preserve_order_column, *args)
    309         )
    310     else:
--> 311         raise ValueError(ERROR_MESSAGE_CANNOT_COMBINE)
    312
    313

ValueError: Cannot combine the series or dataframe because it comes from a different dataframe. In order to allow this operation, enable 'compute.ops_on_diff_frames' option.

In [0]:
# psdf = ps.DataFrame({'a': [1, 2], 'A':[3, 4]})

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-4301303750679896> in <cell line: 1>()
----> 1 psdf = ps.DataFrame({'a': [1, 2], 'A':[3, 4]})

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/pandas/frame.py in __init__(self, data, index, columns, dtype, copy)
    449             else:
    450                 pdf = pd.DataFrame(data=data, index=index, columns=columns, dtype=dtype, copy=copy)
--> 451             internal = InternalFrame.from_pandas(pdf)
    452
    453         object.__setattr__(self, "_internal_frame", internal)

/databricks/spark/python/pyspark/pandas/internal.py in from_pandas(pdf)
   1477             index_fields=index_fields,
   1478             column_labels=column_labels,
-> 1479             data_spark_columns=[scol_for(sdf, col) for col in data_columns],
   1480             data_fields=data_fields,
   1481             column_label_names=column_label_names,

/databricks/spark/python/pyspark/pandas/internal.py in <listcomp>(.0)
   1477             index_fields=index_fields,
   1478             column_labels=column_labels,
-> 1479             data_spark_columns=[scol_for(sdf, col) for col in data_columns],
   1480             data_fields=data_fields,
   1481             column_label_names=column_label_names,

/databricks/spark/python/pyspark/pandas/utils.py in scol_for(sdf, column_name)
    599 def scol_for(sdf: SparkDataFrame, column_name: str) -> Column:
    600     """Return Spark Column for the given column name."""
--> 601     return sdf["`{}`".format(column_name)]
    602
    603

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     41         if hasattr(_local, "logging") and _local.logging:
     42             # no need to log since this should be internal call.
---> 43             return func(*args, **kwargs)
     44         _local.logging = True
     45         try:

/databricks/spark/python/pyspark/sql/dataframe.py in __getitem__(self, item)
   2049         """
   2050         if isinstance(item, str):
-> 2051             jc = self._jdf.apply(item)
   2052             return Column(jc)
   2053         elif isinstance(item, Column):

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: Reference 'a' is ambiguous, could be: a, a.

In [0]:
builder = builder.config("spark.sql.caseSensitive", "true")

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-4301303750679897> in <cell line: 1>()
----> 1 builder = builder.config("spark.sql.caseSensitive", "true")

NameError: name 'builder' is not defined

In [0]:
builder = SparkSession.builder.appName("pandas-on-spark")

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-4301303750679898> in <cell line: 1>()
----> 1 builder = SparkSession.builder.appName("pandas-on-spark")

NameError: name 'SparkSession' is not defined

In [0]:
builder = builder.config("spark.sql.caseSensitive", "true")

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-4301303750679899> in <cell line: 1>()
----> 1 builder = builder.config("spark.sql.caseSensitive", "true")

NameError: name 'builder' is not defined

In [0]:

sdf = ps.DataFrame({'a': [1, 2], 'A':[3, 4]})

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-4301303750679900> in <cell line: 1>()
----> 1 sdf = ps.DataFrame({'a': [1, 2], 'A':[3, 4]})

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/pandas/frame.py in __init__(self, data, index, columns, dtype, copy)
    449             else:
    450                 pdf = pd.DataFrame(data=data, index=index, columns=columns, dtype=dtype, copy=copy)
--> 451             internal = InternalFrame.from_pandas(pdf)
    452
    453         object.__setattr__(self, "_internal_frame", internal)

/databricks/spark/python/pyspark/pandas/internal.py in from_pandas(pdf)
   1477             index_fields=index_fields,
   1478             column_labels=column_labels,
-> 1479             data_spark_columns=[scol_for(sdf, col) for col in data_columns],
   1480             data_fields=data_fields,
   1481             column_label_names=column_label_names,

/databricks/spark/python/pyspark/pandas/internal.py in <listcomp>(.0)
   1477             index_fields=index_fields,
   1478             column_labels=column_labels,
-> 1479             data_spark_columns=[scol_for(sdf, col) for col in data_columns],
   1480             data_fields=data_fields,
   1481             column_label_names=column_label_names,

/databricks/spark/python/pyspark/pandas/utils.py in scol_for(sdf, column_name)
    599 def scol_for(sdf: SparkDataFrame, column_name: str) -> Column:
    600     """Return Spark Column for the given column name."""
--> 601     return sdf["`{}`".format(column_name)]
    602
    603

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     41         if hasattr(_local, "logging") and _local.logging:
     42             # no need to log since this should be internal call.
---> 43             return func(*args, **kwargs)
     44         _local.logging = True
     45         try:

/databricks/spark/python/pyspark/sql/dataframe.py in __getitem__(self, item)
   2049         """
   2050         if isinstance(item, str):
-> 2051             jc = self._jdf.apply(item)
   2052             return Column(jc)
   2053         elif isinstance(item, Column):

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: Reference 'a' is ambiguous, could be: a, a.

In [0]:
#From rdd to Dataframe

dept = [('Fiannce',10),('Marketing',10),('sales',30),('IT',40)]
rdd=spark.sparkContext.parallelize(dept)

df=rdd.toDF()
df.printSchema()
df.show(truncate=False)


deptColumns=['dept_name','dept_id']
df2 = rdd.toDF(deptColumns)
df2.show()

from pyspark.sql.types import StructType, StructField, StringType
deptSchema = StructType([
    StructField('dept_name', StringType(), True),
    StructField('dept_id', StringType(), True)
])
deptDF = spark.createDataFrame(rdd, schema=deptSchema)

deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|Fiannce  |10 |
|Marketing|10 |
|sales    |30 |
|IT       |40 |
+---------+---+

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Fiannce|     10|
|Marketing|     10|
|    sales|     30|
|       IT|     40|
+---------+-------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: string (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Fiannce  |10     |
|Marketing|10     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
#Convert PySpark DataFrame to Pandas

#Convert Spark Nested Struct DataFrame to Pandas

from pyspark.sql.types import StructType, StringType, StructField, IntegerType

dataset = [(("James","","Smith"),"36636","M","3000"), \
      (("Michael","Rose",""),"40288","M","4000"), \
      (("Robert","","Williams"),"42114","M","4000"), \
      (("Maria","Anne","Jones"),"39192","F","4000"), \
      (("Jen","Mary","Brown"),"","F","-1") \
]

schemaStruct = StructType([
    StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
        StructField('lastname', StringType(), True)
    ])),
    StructField('dob', StringType(), True),
    StructField('gender', StringType(), True),
    StructField('Salary', StringType(), True)
])

df=spark.createDataFrame(data=dataset, schema=schemaStruct)
df.printSchema()
pdf2=df.toPandas()
print(pdf2)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- Salary: string (nullable = true)

                                                name    dob gender Salary
0  {'firstname': 'James', 'middlename': '', 'last...  36636      M   3000
1  {'firstname': 'Michael', 'middlename': 'Rose',...  40288      M   4000
2  {'firstname': 'Robert', 'middlename': '', 'las...  42114      M   4000
3  {'firstname': 'Maria', 'middlename': 'Anne', '...  39192      F   4000
4  {'firstname': 'Jen', 'middlename': 'Mary', 'la...             F     -1

In [0]:
#PySpark show() – Display DataFrame Contents in Table

In [0]:
df.show()
df.show(truncate=False)

+--------------------+-----+------+------+
|                name|  dob|gender|Salary|
+--------------------+-----+------+------+
|    {James, , Smith}|36636|     M|  3000|
|   {Michael, Rose, }|40288|     M|  4000|
|{Robert, , Williams}|42114|     M|  4000|
|{Maria, Anne, Jones}|39192|     F|  4000|
|  {Jen, Mary, Brown}|     |     F|    -1|
+--------------------+-----+------+------+

+--------------------+-----+------+------+
|name                |dob  |gender|Salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3000  |
|{Michael, Rose, }   |40288|M     |4000  |
|{Robert, , Williams}|42114|M     |4000  |
|{Maria, Anne, Jones}|39192|F     |4000  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [0]:
# Default - displays 20 rows and 
# 20 charactes from column value 
df.show()

#Display full column contents
df.show(truncate=False)

# Display 2 rows and full column contents
df.show(2,truncate=False) 

# Display 2 rows & column values 25 characters
df.show(2,truncate=25) 

# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25,vertical=True)

+--------------------+-----+------+------+
|                name|  dob|gender|Salary|
+--------------------+-----+------+------+
|    {James, , Smith}|36636|     M|  3000|
|   {Michael, Rose, }|40288|     M|  4000|
|{Robert, , Williams}|42114|     M|  4000|
|{Maria, Anne, Jones}|39192|     F|  4000|
|  {Jen, Mary, Brown}|     |     F|    -1|
+--------------------+-----+------+------+

+--------------------+-----+------+------+
|name                |dob  |gender|Salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3000  |
|{Michael, Rose, }   |40288|M     |4000  |
|{Robert, , Williams}|42114|M     |4000  |
|{Maria, Anne, Jones}|39192|F     |4000  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

+-----------------+-----+------+------+
|name             |dob  |gender|Salary|
+-----------------+-----+------+------+
|{James, , Smith} |36636|M     |3000  |
|{Michael, Rose, }|40288|M     |4000  |
+-----------------+-----+------+------+
only showing top 2 rows

+-----------------+-----+------+------+
|             name|  dob|gender|Salary|
+-----------------+-----+------+------+
| {James, , Smith}|36636|     M|  3000|
|{Michael, Rose, }|40288|     M|  4000|
+-----------------+-----+------+------+
only showing top 2 rows

-RECORD 0----------------------
 name   | {James, , Smith}
 dob    | 36636
 gender | M
 Salary | 3000
-RECORD 1----------------------
 name   | {Michael, Rose, }
 dob    | 40288
 gender | M
 Salary | 4000
-RECORD 2----------------------
 name   | {Robert, , Williams}
 dob    | 42114
 gender | M
 Salary | 4000
only showing top 3 rows

In [0]:
from pyspark.sql import SparkSession
columns=['seqNo', 'quote']
data=[('1','ANCD'),('2','BBBB'),('3','CCCC'),('4','DDDD')]
df=spark.createDataFrame(data,columns)
df.show()
df.show(2,truncate=False)
df.show(2,truncate=False,vertical=True)

+-----+-----+
|seqNo|quote|
+-----+-----+
|    1| ANCD|
|    2| BBBB|
|    3| CCCC|
|    4| DDDD|
+-----+-----+

+-----+-----+
|seqNo|quote|
+-----+-----+
|1    |ANCD |
|2    |BBBB |
+-----+-----+
only showing top 2 rows

-RECORD 0-----
 seqNo | 1
 quote | ANCD
-RECORD 1-----
 seqNo | 2
 quote | BBBB
only showing top 2 rows

In [0]:
from pyspark.sql.types import ArrayType,MapType
#Using SQL ArrayType and MapType

arrayStructSchema=StructType([
    StructField('name', StructType([
        StructField('firstName' ,StringType(),True),
        StructField('middlename', StringType(), True),
        StructField('lastname', StringType(), True)      
    ])),
    StructField('hobbies', ArrayType(StringType()), True),
    StructField('properties', MapType(StringType(),StringType()), True)
])

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-3144980275726779> in <cell line: 14>()
     12 ])
     13
---> 14 arrayStructSchema.printSchema()

AttributeError: 'StructType' object has no attribute 'printSchema'

In [0]:
#PySpark Column Class | Operators & Functions

In [0]:
from pyspark.sql.functions import lit
calObj = lit('sparkbyexample.com')


from pyspark.sql import Row
data=[Row(name='James',prop=Row(hair='black',eye='blue')),
     Row(name='Ann',prop=Row(hair='grey',eye='black'))]

df=spark.createDataFrame(data)
df.printSchema()


##Access Struct column 

df.select(df.prop.hair).show()
df.select(df["prop.hair"]).show()

from pyspark.sql.functions import col

df.select(col('prop.hair')).show()
df.select(col('prop.*')).show()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+---------+
|prop.hair|
+---------+
|    black|
|     grey|
+---------+

+-----+
| hair|
+-----+
|black|
| grey|
+-----+

+-----+
| hair|
+-----+
|black|
| grey|
+-----+

+-----+-----+
| hair|  eye|
+-----+-----+
|black| blue|
| grey|black|
+-----+-----+

In [0]:
data=[(100,2,1),(200,3,4),(300,4,4)]
df=spark.createDataFrame(data).toDF("col1","col2","col3")
df.select(df.col1 + df.col2).show()
df.select(df.col1 - df.col2).show()
df.select(df.col1 / df.col2).show()

df.select(df.col2==df.col3).show()

+-------------+
|(col1 + col2)|
+-------------+
|          102|
|          203|
|          304|
+-------------+

+-------------+
|(col1 - col2)|
+-------------+
|           98|
|          197|
|          296|
+-------------+

+-----------------+
|    (col1 / col2)|
+-----------------+
|             50.0|
|66.66666666666667|
|             75.0|
+-----------------+

+-------------+
|(col2 = col3)|
+-------------+
|        false|
|        false|
|         true|
+-------------+

In [0]:
#PySpark Select Columns From DataFrame



import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]
columns = ["firstname","lastname","country","state"]
df = spark.createDataFrame(data = data, schema = columns)
#df.show(truncate=False)

df.select('firstname','lastname').show()
df.select(df.firstname,df.lastname).show()
df.select(df['firstname'],df['lastname']).show()

from pyspark.sql import SparkSession


df.select(col('firstname'),col('lastname')).show()

df.select(df.col)

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

In [0]:
from pyspark.sql.functions import col
df.select(col('firstname'),col('lastname')).show()

df.select(df.colRegex("`^.*name*`")).show()

df.select(*columns).show()

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [0]:
#Select Nested Struct Columns from PySpark


data = [
        (("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]

from pyspark.sql.types import StructType,StructField, StringType        
schema = StructType([
    StructField('name', StructType([
         StructField('firstname', StringType(), True),
         StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
         ])),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
     ])
df2 = spark.createDataFrame(data = data, schema = schema)
df2.printSchema()
#df2.show(truncate=False) # shows all columns


#df2.select('name').show()
#df2.select('name.firstname', 'name.lastname').show() #sub columns 

df2.select("name.*").show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|    James|      null|   Smith|
|     Anna|      Rose|        |
|    Julia|          |Williams|
|    Maria|      Anne|   Jones|
|      Jen|      Mary|   Brown|
|     Mike|      Mary|Williams|
+---------+----------+--------+

In [0]:
#PySpark Collect() – Retrieve data from DataFrame
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]

deptColumns = ['dept_name','dept_id']
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)
deptDF.show(truncate=False)

dataCollect=deptDF.collect() ##REturns array type
print(dataCollect)

for row in dataCollect:
    print(row['dept_name']+ ", "+str(row['dept_id']))
    
deptDF.collect()[0][0]

dataCollect = deptDF.select('dept_name').collect()
print(dataCollect)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

[Row(dept_name='Finance', dept_id=10), Row(dept_name='Marketing', dept_id=20), Row(dept_name='Sales', dept_id=30), Row(dept_name='IT', dept_id=40)]
Finance, 10
Marketing, 20
Sales, 30
IT, 40
[Row(dept_name='Finance'), Row(dept_name='Marketing'), Row(dept_name='Sales'), Row(dept_name='IT')]

In [0]:
deptDF.withColumn('TEST',lit(2)).show()

+---------+-------+----+
|dept_name|dept_id|TEST|
+---------+-------+----+
|  Finance|     10|   2|
|Marketing|     20|   2|
|    Sales|     30|   2|
|       IT|     40|   2|
+---------+-------+----+

In [0]:
#PySpark Where Filter Function | Multiple Conditions

deptDF.filter(deptDF.dept_id > 30).show()


from pyspark.sql.functions import col
deptDF.filter(col('dept_id')>30).show()  #using col 

deptDF.filter('dept_id > 20').show()  #sql exp

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|       IT|     40|
+---------+-------+

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|       IT|     40|
+---------+-------+

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
#like and rlike 
data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]

df2=spark.createDataFrame(data2,schema=['id','name'])

df2.filter(df2.name.like('%rose%')).show()  

df2.filter(df2.name.rlike('(?i)^*rose$')).show()

+---+----------+
| id|      name|
+---+----------+
|  5|Rames rose|
+---+----------+

+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|
+---+------------+

In [0]:
#PySpark Distinct to Drop Duplicate Rows

# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]


columns = ['employee_name','department','salary']

df=spark.createDataFrame(data, schema=columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
distinctDF = df.distinct()
print('Distinct count '+str(distinctDF.count()))

Distinct count 9

In [0]:
df2=df.dropDuplicates()
print('Distinct count '+str(df2.count()))
df2.show()

dropDisDF=df.dropDuplicates(['department','salary'])
print(dropDisDF.count())

dropDisDF.show()

Distinct count 9
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

8
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

In [0]:
#PySpark orderBy() and sort() explained

simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [0]:
# df.sort('employee_name','department').show()
# df.sort(df.department.asc(), df.state.desc()).show()

# #DataFrame sorting using orderBy() function

# df.orderBy("department","state").show(truncate=False)
# df.orderBy(df.department.asc(),df.state.asc()).show()
# df.orderBy(col('department').asc())


#asc_nulls_first() and asc_nulls_last() and equivalent descending functions.

# Using Raw SQL

df.createOrReplaceTempView('EMP')
spark.sql('select * from EMP order by department desc').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [0]:
#PySpark Groupby Explained with Example

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
#df = spark.createDataFrame(data=simpleData, schema = schema)
#df.printSchema()
#df.show(truncate=False)

df.groupBy('department').sum('salary').show()
df.groupBy('department').count().show()
df.groupBy('department').min('salary').show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      81000|
|   Finance|      79000|
| Marketing|      80000|
+----------+-----------+

In [0]:
#Joins

emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id,'inner').show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#PySpark Union and UnionAll Explained

import pyspark
from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# simpleData = [("James","Sales","NY",90000,34,10000), \
#     ("Michael","Sales","NY",86000,56,20000), \
#     ("Robert","Sales","CA",81000,30,23000), \
#     ("Maria","Finance","CA",90000,24,23000) \
#   ]

# columns= ["employee_name","department","state","salary","age","bonus"]
# df = spark.createDataFrame(data = simpleData, schema = columns)
# df.printSchema()
# df.show(truncate=False)

# simpleData2 = [("James","Sales","NY",90000,34,10000), \
#     ("Maria","Finance","CA",90000,24,23000), \
#     ("Jen","Finance","NY",79000,53,15000), \
#     ("Jeff","Marketing","CA",80000,25,18000), \
#     ("Kumar","Marketing","NY",91000,50,21000) \
#   ]
# columns2= ["employee_name","department","state","salary","age","bonus"]

# df2 = spark.createDataFrame(data = simpleData2, schema = columns2)

# df2.printSchema()
# df2.show(truncate=False)

unionDF = df.union(df2)
unionDF.show(truncate=False)
df.unionAll(df2).show() ##Deprectaed , recomend to use union

disDF = df.union(df2).distinct()  #returns only distinct rows
disDF.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
#Union by name 

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# Create DataFrame df1 with columns name, and id
data = [("James",34), ("Michael",56), \
        ("Robert",30), ("Maria",24) ]

df1 = spark.createDataFrame(data = data, schema=["name","id"])
df1.printSchema()

# Create DataFrame df2 with columns name and id
data2=[(34,"James"),(45,"Maria"), \
       (45,"Jen"),(34,"Jeff")]

df2 = spark.createDataFrame(data = data2, schema = ["id","name"])
df2.printSchema()


print(df1.union(df2).show())
print(df1.unionByName(df2).show())

root
 |-- name: string (nullable = true)
 |-- id: long (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+-------+-----+
|   name|   id|
+-------+-----+
|  James|   34|
|Michael|   56|
| Robert|   30|
|  Maria|   24|
|     34|James|
|     45|Maria|
|     45|  Jen|
|     34| Jeff|
+-------+-----+

None
+-------+---+
|   name| id|
+-------+---+
|  James| 34|
|Michael| 56|
| Robert| 30|
|  Maria| 24|
|  James| 34|
|  Maria| 45|
|    Jen| 45|
|   Jeff| 34|
+-------+---+

None

In [0]:
#transform 

from pyspark.sql import SparkSession
from pyspark.sql.functions import upper

# Create SparkSession
spark = SparkSession.builder \
            .appName('SparkByExamples.com') \
            .getOrCreate()

# Prepare Data
simpleData = (("Java",4000,5), \
    ("Python", 4600,10),  \
    ("Scala", 4100,15),   \
    ("Scala", 4500,15),   \
    ("PHP", 3000,20),  \
  )
columns= ["CourseName", "fee", "discount"]

# Create DataFrame
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)


def to_upper_str_columns(df):
    return df.withColumn('CourseName',upper(df.CourseName))

def reduce_price(df, reduceBy):
    return df.withColumn('new_fee',df.fee - reduceBy)

def apply_discount(df):
    return df.withColumn('discounted_fee', df.new_fee - (df.new_fee * df.discount) / 100)

def select_col(df):
    return df.select("CourseName","discounted_fee")


df2=df.transform(to_upper_str_columns) \
       .transform(reduce_price,100) \
       .transform(apply_discount) \
       .transform(select_col)

df2.show()

root
 |-- CourseName: string (nullable = true)
 |-- fee: long (nullable = true)
 |-- discount: long (nullable = true)

+----------+----+--------+
|CourseName|fee |discount|
+----------+----+--------+
|Java      |4000|5       |
|Python    |4600|10      |
|Scala     |4100|15      |
|Scala     |4500|15      |
|PHP       |3000|20      |
+----------+----+--------+

+----------+--------------+
|CourseName|discounted_fee|
+----------+--------------+
|      JAVA|        3705.0|
|    PYTHON|        4050.0|
|     SCALA|        3400.0|
|     SCALA|        3740.0|
|       PHP|        2320.0|
+----------+--------------+

In [0]:
#tranform function 
## Create DataFrame with Array
data = [
 ("James,,Smith",["Java","Scala","C++"],["Spark","Java"]),
 ("Michael,Rose,",["Spark","Java","C++"],["Spark","Java"]),
 ("Robert,,Williams",["CSharp","VB"],["Spark","Python"])
]
df = spark.createDataFrame(data=data,schema=["Name","Languages1","Languages2"])
df.printSchema()
df.show()

from pyspark.sql.functions import transform
df.select(transform('Languages1', lambda x: upper(x)).alias('LANGUAGE')).show()

root
 |-- Name: string (nullable = true)
 |-- Languages1: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Languages2: array (nullable = true)
 |    |-- element: string (containsNull = true)

+----------------+------------------+---------------+
|            Name|        Languages1|     Languages2|
+----------------+------------------+---------------+
|    James,,Smith|[Java, Scala, C++]|  [Spark, Java]|
|   Michael,Rose,|[Spark, Java, C++]|  [Spark, Java]|
|Robert,,Williams|      [CSharp, VB]|[Spark, Python]|
+----------------+------------------+---------------+

+------------------+
|          LANGUAGE|
+------------------+
|[JAVA, SCALA, C++]|
|[SPARK, JAVA, C++]|
|      [CSHARP, VB]|
+------------------+

In [0]:
#Apply

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

df = spark.createDataFrame(data=data,schema=columns)

# df.show(truncate=False)


# df.withColumn('UPPER',upper(df.Name)).show()
# df.select('Seqno', 'Name', upper(df.Name)).show()

# df.createOrReplaceTempView('TAB')

# spark.sql("Select Seqno, upper(Name) from TAB").show()


from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

def upperCase(str):
    return str.upper()

upperCaseUDF=udf(lambda x:upperCase(x),StringType())

#custom udf with column 
df.withColumn('Cureated Name', upperCaseUDF(df.Name)).show()

df.select('Seqno','Name',upperCaseUDF('Name').alias('UPPER_NAME')).show()

spark.udf.register('upperCaseUDF',upperCaseUDF)
df.createOrReplaceTempView('TAB')
spark.sql('select Seqno, Name, upperCaseUDF(Name) as UPPER_NAME from TAB').show()

+-----+------------+-------------+
|Seqno|        Name|Cureated Name|
+-----+------------+-------------+
|    1|  john jones|   JOHN JONES|
|    2|tracey smith| TRACEY SMITH|
|    3| amy sanders|  AMY SANDERS|
+-----+------------+-------------+

+-----+------------+------------+
|Seqno|        Name|  UPPER_NAME|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

+-----+------------+------------+
|Seqno|        Name|  UPPER_NAME|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

In [0]:
# Imports

       Fee  Discount
0  20000.0      1000
1  25000.0      2500
2  30000.0      1500
3  22000.0      1200
4      NaN      3000
0    21000.0
1    27500.0
2    31500.0
3    23200.0
4        NaN
dtype: float64

In [0]:
#Flatmap  in rdd

data = ["Project Gutenberg’s",
        "Alice’s Adventures in Wonderland",
        "Project Gutenberg’s",
        "Adventures in Wonderland",
        "Project Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)

# for ele in rdd.collect():
#     #print(ele)
    
# rdd2=rdd.flatMap(lambda x: x.split(' '))
# for ele in rdd2.collect():
#     print(ele)
    
    
#explode in Dataframe 

arrayData = [
        ('James',['Java','Scala'],{'hair':'black','eye':'brown'}),
        ('Michael',['Spark','Java',None],{'hair':'brown','eye':None}),
        ('Robert',['CSharp',''],{'hair':'red','eye':''}),
        ('Washington',None,None),
        ('Jefferson',['1','2'],{})]
df = spark.createDataFrame(data=arrayData, schema = ['name','knownLanguages','properties'])
df.show(truncate=False)

from pyspark.sql.functions import explode
df2=df.select(df.name, explode(df.knownLanguages))
df2.printSchema()
df2.show()

+----------+-------------------+-----------------------------+
|name      |knownLanguages     |properties                   |
+----------+-------------------+-----------------------------+
|James     |[Java, Scala]      |{eye -> brown, hair -> black}|
|Michael   |[Spark, Java, null]|{eye -> null, hair -> brown} |
|Robert    |[CSharp, ]         |{eye -> , hair -> red}       |
|Washington|null               |null                         |
|Jefferson |[1, 2]             |{}                           |
+----------+-------------------+-----------------------------+

root
 |-- name: string (nullable = true)
 |-- col: string (nullable = true)

+---------+------+
|     name|   col|
+---------+------+
|    James|  Java|
|    James| Scala|
|  Michael| Spark|
|  Michael|  Java|
|  Michael|  null|
|   Robert|CSharp|
|   Robert|      |
|Jefferson|     1|
|Jefferson|     2|
+---------+------+

In [0]:
#Pyspark UDF

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType


column = ['seqNo', 'Name']
data = [('1', 'john jones'),('2', 'tracey Smitj'),('3', 'amy snaders')]

df=spark.createDataFrame(data,schema=column)
df.show()


def  converCase(str):
    resStr=''
    arr=str.split(' ')
    for x in arr:
        resStr = resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr


converUdf=udf(lambda z: converCase(z))

df.select('seqNo', converUdf('Name').alias('UDF_name')).show()

@udf
def upperCase(str):
    return str.upper()

df.withColumn("New Name", upperCase('Name')).show()

+-----+------------+
|seqNo|        Name|
+-----+------------+
|    1|  john jones|
|    2|tracey Smitj|
|    3| amy snaders|
+-----+------------+

+-----+-------------+
|seqNo|     UDF_name|
+-----+-------------+
|    1|  John Jones |
|    2|Tracey Smitj |
|    3| Amy Snaders |
+-----+-------------+

+-----+------------+------------+
|seqNo|        Name|    New Name|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey Smitj|TRACEY SMITJ|
|    3| amy snaders| AMY SNADERS|
+-----+------------+------------+

In [0]:
#PySpark foreach() Usage with Examples

def foreach_func(df):
    print(df.Name)
    
df.foreach(foreach_func)

In [0]:
#PySpark – sample() vs sampleBy()

# sample() function synatx

# # sample(withReplacement, fraction, seed=None)
# fraction – Fraction of rows to generate, range [0.0, 1.0]. Note that it doesn’t guarantee to provide the exact number of the fraction of records.
# seed – Seed for sampling (default a random seed). Used to reproduce the same random sampling.

# withReplacement – Sample with replacement or not (default False).

df=spark.range(100)

print(df.sample(True,0.06,123).collect())

[Row(id=37), Row(id=46), Row(id=61), Row(id=65), Row(id=81), Row(id=91), Row(id=92), Row(id=92)]

In [0]:
#PySpark fillna() & fill() – Replace NULL/None Values

#PySpark Pivot and Unpivot DataFrame


import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
#Create spark session
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
# df = spark.createDataFrame(data = data, schema = columns)
# df.printSchema()
# df.show(truncate=False)

df_pivot=df.groupby('Product').pivot('Country').sum('Amount')
df_pivot.show()

from pyspark.sql.functions import expr

unpivot_expr = "stack(3,'Canada',Canada,'China',China,'Mexico',Mexico) as (Country,Amount)"
unpivot_df = df_pivot.select('Product',expr(unpivot_expr))
unpivot_df.show()

+-------+------+-----+------+----+
|Product|Canada|China|Mexico| USA|
+-------+------+-----+------+----+
| Orange|  null| 4000|  null|4000|
|  Beans|  null| 1500|  2000|1600|
| Banana|  2000|  400|  null|1000|
|Carrots|  2000| 1200|  null|1500|
+-------+------+-----+------+----+

+-------+-------+------+
|Product|Country|Amount|
+-------+-------+------+
| Orange| Canada|  null|
| Orange|  China|  4000|
| Orange| Mexico|  null|
|  Beans| Canada|  null|
|  Beans|  China|  1500|
|  Beans| Mexico|  2000|
| Banana| Canada|  2000|
| Banana|  China|   400|
| Banana| Mexico|  null|
|Carrots| Canada|  2000|
|Carrots|  China|  1200|
|Carrots| Mexico|  null|
+-------+-------+------+

In [0]:
#example of pivot
data1  = [{'Name':'Jhon','ID':21.528,'Add':'USA'},{'Name':'Joe','ID':3.69,'Add':'USA'},{'Name':'Tina','ID':2.48,'Add':'IND'},{'Name':'Jhon','ID':22.22, 'Add':'USA'},{'Name':'Joe','ID':5.33,'Add':'INA'}]

df_ex_1 =spark.createDataFrame(data1)
df_ex_1.show()

df_ex_1_pivot=df_ex_1.groupby('Name').pivot('Add').count()
df_ex_1_pivot.show()

df_ex_1_unpivot =df_ex_1_pivot.select('Name',expr("stack(3, 'INA',INA,'IND',IND,'USA',USA) as (Add,Count)"))
df_ex_1_unpivot.show()

+---+------+----+
|Add|    ID|Name|
+---+------+----+
|USA|21.528|Jhon|
|USA|  3.69| Joe|
|IND|  2.48|Tina|
|USA| 22.22|Jhon|
|INA|  5.33| Joe|
+---+------+----+

+----+----+----+----+
|Name| INA| IND| USA|
+----+----+----+----+
| Joe|   1|null|   1|
|Jhon|null|null|   2|
|Tina|null|   1|null|
+----+----+----+----+

+----+---+-----+
|Name|Add|Count|
+----+---+-----+
| Joe|INA|    1|
| Joe|IND| null|
| Joe|USA|    1|
|Jhon|INA| null|
|Jhon|IND| null|
|Jhon|USA|    2|
|Tina|INA| null|
|Tina|IND|    1|
|Tina|USA| null|
+----+---+-----+

In [0]:
#PySpark MapType (Dict) Usage with Examples

from pyspark.sql.types import StructField, StructType, StringType, MapType
schema = StructType([
    StructField('name', StringType(), True),
    StructField('properties', MapType(StringType(), StringType()), True)
])

dataDict = [
        ('James',{'hair':'black','eye':'brown'}),
        ('Michael',{'hair':'brown','eye':None}),
        ('Robert',{'hair':'red','eye':'black'}),
        ('Washington',{'hair':'grey','eye':'grey'}),
        ('Jefferson',{'hair':'brown','eye':''})
        ]

df = spark.createDataFrame(dataDict, schema=schema)


# df3 = df.rdd.map(lambda x: (x.name, x.properties['hair'], x.properties['eye'])).toDF(['name','hair','eye'])
# df3.printSchema()
# df3.show()

df.withColumn('hair',df.properties.getItem('hair')) \
  .withColumn('eye', df.properties.getItem('eye')) \
  .drop('properties').show()

from pyspark.sql.functions import explode
df.select('name', explode('properties')).show()
df.show()
# df.show()

# df.printSchema()
# df.show(truncate=False)


from pyspark.sql.functions import map_keys
df.select(df.name, map_keys(df.properties)).show()

+----------+-----+-----+
|      name| hair|  eye|
+----------+-----+-----+
|     James|black|brown|
|   Michael|brown| null|
|    Robert|  red|black|
|Washington| grey| grey|
| Jefferson|brown|     |
+----------+-----+-----+

+----------+----+-----+
|      name| key|value|
+----------+----+-----+
|     James| eye|brown|
|     James|hair|black|
|   Michael| eye| null|
|   Michael|hair|brown|
|    Robert| eye|black|
|    Robert|hair|  red|
|Washington| eye| grey|
|Washington|hair| grey|
| Jefferson| eye|     |
| Jefferson|hair|brown|
+----------+----+-----+

+----------+--------------------+
|      name|          properties|
+----------+--------------------+
|     James|{eye -> brown, ha...|
|   Michael|{eye -> null, hai...|
|    Robert|{eye -> black, ha...|
|Washington|{eye -> grey, hai...|
| Jefferson|{eye -> , hair ->...|
+----------+--------------------+

+----------+--------------------+
|      name|map_keys(properties)|
+----------+--------------------+
|     James|         [eye, hair]|
|   Michael|         [eye, hair]|
|    Robert|         [eye, hair]|
|Washington|         [eye, hair]|
| Jefferson|         [eye, hair]|
+----------+--------------------+

#PySpark Aggregate Functions with Examples

In [0]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

from pyspark.sql.functions import approx_count_distinct, avg, collect_list, collect_set, countDistinct, count, first, last

# print("approx_count_distinct" + str(df.select(approx_count_distinct('salary')).collect()[0][0]))
# print("avg" + str(df.select(avg('salary')).collect()[0][0]))
# df.select(collect_list('salary')).show(truncate=False)
# df.select(avg('salary')).show()

# df.select(collect_set('salary')).show(truncate=False)

df.select(countDistinct('department')).show()
df.select(count('salary')).show()

df.select(first('salary')).show()
df.select(last('salary')).show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

+--------------------------+
|count(DISTINCT department)|
+--------------------------+
|                         3|
+--------------------------+

+-------------+
|count(salary)|
+-------------+
|           10|
+-------------+

+-------------+
|first(salary)|
+-------------+
|         3000|
+-------------+

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

In [0]:
#windows function

simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = simpleData, schema = columns)
# df.printSchema()
# df.show(truncate=False)

#row_number window function

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
#windowSpec = Window.partitionBy('department').orderBy('salary')

# df.withColumn('row_num', row_number().over(windowSpec)).show(truncate=False)

#rank() 

from pyspark.sql.functions import rank, dense_rank

# windowSpec = Window.partitionBy('department').orderBy('salary')
# df.withColumn('rank',  rank().over(windowSpec)).show()
# df.withColumn('rank',  dense_rank().over(windowSpec)).show()


#percent_rank 

from pyspark.sql.functions import percent_rank

# windowSpec = Window.partitionBy('department').orderBy('Salary')
# df.withColumn('percent_rank', percent_rank().over(windowSpec)).show()

#ntile : returns the relative rank of result rows within a window partition

from pyspark.sql.functions import ntile

# windowSpec = Window.partitionBy('department').orderBy('salary')
# df.withColumn('ntile', ntile(1).over(windowSpec)).show()


# cume_dist() window function is used to get the cumulative distribution of values within a window partition.

# from pyspark.sql.functions import cume_dist

# df.withColumn('cume_dist', cume_dist().over(windowSpec)).show()

#Lag 

# from pyspark.sql.functions import lag, lead

# #df.withColumn('lag', lag('Salary',2).over(windowSpec)).show()

# df.withColumn('lead',lead('salary', 1).over(windowSpec)).show()


#PySpark Window Aggregate Functions

windowSpecAgg = Window.partitionBy('department')
from pyspark.sql.functions import col, avg, sum, min, max, row_number

df.withColumn('row', row_number().over(windowSpec)) \
  .withColumn('avg', avg('salary').over(windowSpecAgg)) \
  .withColumn('sum', sum('salary').over(windowSpecAgg)) \
  .withColumn('min', min('salary').over(windowSpecAgg)) \
  .withColumn('max', max('salary').over(windowSpecAgg)) \
  .where(col('row')=='1').select('department', 'avg', 'min', 'max') \
  .show(truncate=False)

+----------+------+----+----+
|department|avg   |min |max |
+----------+------+----+----+
|Finance   |3400.0|3000|3900|
|Marketing |2500.0|2000|3000|
|Sales     |3760.0|3000|4600|
+----------+------+----+----+

In [0]:
#PySpark SQL Date and Timestamp Functions

from pyspark.sql.functions import *

# data = [['1','2020-02-01'],['2','2019-03-01'],['3', '2021-03-01']]
# df=spark.createDataFrame(data,schema=['id','input'])
# df.show()
# df.printSchema()


##current_date
df.select(current_date().alias('Current_date')).show(1)

#date_format()

# df.select(date_format(('input'), 'yyyy-dd-MM')).printSchema()


# #to_date --converts string type to date type 

# df.select(to_date('input', 'yyyy-dd-mm')).printSchema()



# #datediff

# df.select('input' , datediff('input', current_date())).show()

#months_between

# df.select('input', months_between(current_date(), 'input').alias('months_between')).show()

#trunc 

# df.select('input', 
#           trunc('input', 'Month').alias('Month_trunc'),
#           trunc('input', 'year').alias('year_trunc'),
#           trunc('input', 'date').alias('date_trunc')
#          ).show()


#add_months() , date_add(), date_sub()

# df.select('input', 
#           add_months('input', 2).alias('add_months'),
#          add_months('input', -2).alias('sub_months'),
#          date_add('input', 20).alias('date_add'),
#          date_sub('input', 10).alias('date_sub')).show()

#year(), month(), month(),next_day(), weekofyear()

# df.select('input' \
#           , year('input').alias('year') \
#          , month('input').alias('month') \
#          , next_day('input', dayOfWeek='Tue').alias('next_day') \
#          , weekofyear('input').alias('week_year') \
#          ).show()


# dayofweek(), dayofmonth(), dayofyear()

df.select('input', 
          dayofweek('input').alias('dayOfWeek'),
          dayofmonth('input').alias('dayofmonth'),
         dayofyear('input').alias('dayOfYear')).show()

+------------+
|Current_date|
+------------+
|  2023-02-22|
+------------+
only showing top 1 row

+----------+---------+----------+---------+
|     input|dayOfWeek|dayofmonth|dayOfYear|
+----------+---------+----------+---------+
|2020-02-01|        7|         1|       32|
|2019-03-01|        6|         1|       60|
|2021-03-01|        2|         1|       60|
+----------+---------+----------+---------+

In [0]:
#current_timestamp() , to_timestamp

# data=[["1","02-01-2020 11 01 19 06"],["2","03-01-2019 12 01 19 406"],["3","03-01-2021 12 01 19 406"]]
# df2=spark.createDataFrame(data,["id","input"])
# df2.show(truncate=False)

df2.select('input', 
           current_timestamp().alias('currentTime'),
           to_timestamp('input', 'MM-dd-yyyy HH mm ss SSSS').alias('to_timestamp')).show(truncate=False)


# hour(), Minute() and second()

data=[["1","2020-02-01 11:01:19.06"],["2","2019-03-01 12:01:19.406"],["3","2021-03-01 12:01:19.406"]]
df3=spark.createDataFrame(data,["id","input"])
df3.printSchema()

df3.select('input', hour('input'), minute('input'), second('input')).show()

+-----------------------+-----------------------+-----------------------+
|input                  |currentTime            |to_timestamp           |
+-----------------------+-----------------------+-----------------------+
|02-01-2020 11 01 19 06 |2023-02-22 08:08:23.446|2020-02-01 11:01:19.06 |
|03-01-2019 12 01 19 406|2023-02-22 08:08:23.446|2019-03-01 12:01:19.406|
|03-01-2021 12 01 19 406|2023-02-22 08:08:23.446|2021-03-01 12:01:19.406|
+-----------------------+-----------------------+-----------------------+

root
 |-- id: string (nullable = true)
 |-- input: string (nullable = true)

+--------------------+-----------+-------------+-------------+
|               input|hour(input)|minute(input)|second(input)|
+--------------------+-----------+-------------+-------------+
|2020-02-01 11:01:...|         11|            1|           19|
|2019-03-01 12:01:...|         12|            1|           19|
|2021-03-01 12:01:...|         12|            1|           19|
+--------------------+-----------+-------------+-------------+

In [0]:
#PySpark JSON Functions with Examples
from pyspark.sql import SparkSession,Row
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

jsonString="""{"Zipcode":704,"ZipCodeType":"STANDARD","City":"PARC PARQUE","State":"PR"}"""
df=spark.createDataFrame([(1, jsonString)],["id","value"])  ##creadte dateframe of json 
# df.show(truncate=False)


#from_json
# from pyspark.sql.types import StringType,StructField,StructType,MapType
# df2=df.withColumn('value', from_json('value', MapType(StringType(), StringType())))
# df2.show(truncate=False)
# df2.printSchema()


# #to_json

# df3=df2.select(to_json('value'))
# df3.show()

#json_tuple
# df.select(json_tuple('value', 'Zipcode','ZipCodeType','City')).toDF('Zipcode','ZipCodeType','City').show()

#get_json object
from pyspark.sql.functions import get_json_object

df.select('id', get_json_object('value', "$.City").alias('city')).show(truncate=False)

+---+-----------+
|id |city       |
+---+-----------+
|1  |PARC PARQUE|
+---+-----------+

##PySpark Datasources

In [0]:
csvdf=spark.read.csv